#blog {
	h2 {
		@extend .title;
	}
	.sect {
		background: $color;
		margin: initial;
		padding: 13px;
		color: white;
	}
	h4 {
			color: $color;
	}
	a {
		color: $gray;
	}
	.abt {
		@extend .abt-r;
	}
	.top-word {
		h5 {
			color: $gray;
		}
	}
	.container-fluid {
		.cont {
			background-image: none;
		}
	}
	.post {
		img {
			width: 100%;
		}
	}
	.f-bg {
		background: #EEEEEE;
		padding: 25px;
		span {
			color: $color;
			font-size: 30px;
		}
	}
	.web {
		p {
			padding: 20px;
		}
	}
	.pagination {
		li a {
			background: $color;
			margin: 0 5px;
			color: white;
		}
	}
	.line {
		background-image: url("../images/heading-bg.png");
	}
}